body {
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  color: #057dcd;
  background-color: whitesmoke;
}

h1 {
  color: slategray;
  display: flex;
  justify-content: flex-start;
  padding-top: 1em;
}

h3 {
  color: slategray;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 2em;
}

.sticky-header {
  padding: 1rem 0;
  position: sticky;
  top: 0;
  background-color: whitesmoke;
  border-bottom: 1px solid slategray;
  color: slategray;
}

.sticky-header-1 {
  width: 22rem;
}

.sticky-header-2 {
  width: 8rem;
}

.sticky-header-3 {
  width: 8rem;
}

ul {
  list-style-type: none;
}

.coin-logo {
  width: 1.3rem;
}

.coin-logo img {
  width: 100%;
  height: auto;
}

.data-row {
  transition: background 150ms ease-in-out;
}

.data-row:hover {
  background: #fafafa;
}
