.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-display {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 80%;
  background: white;
  padding: 1rem;
  color: #ec8946;
  font-family: Montserrat, sans-serif;
}

.coin-image img {
  width: 2.3em;
  padding-bottom: 2em;
}

.close-button {
  position: absolute;
  text-align: center;
  right: 1rem;
  top: 1rem;
  width: 2rem;
  cursor: pointer;
}

.close-button img {
  width: 100%;
  height: auto;
}
